* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --blue: #a6d0dd;
  --orange: #ff6969;
  --white_yellow: #fff9de;
  --gray: #23272e;
  --white: #d1d1d1;
  --orange1: #f05123;
  --blue: #03e9f4;
  --pink: #fbc5c5;
  --green: #00ff55;
  --red: #e96479;
}
html {
  background-color: var(--white_yellow);
}
body {
  text-align: center;
}
#main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box{
  display: grid;
  height: 50%;
  width: 50%;
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  background-color: var(--orange);
  padding: 2rem;
  border-radius: 0.5rem;
}
#box .p {
  background-color: var(--white_yellow);
  border: none;
  text-align: center;
  font-size: 1rem;
  font-family:'Courier New', Courier, monospace;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: .2rem;
}
#box .answer-box input{
  width: 60%;
  border: none;
  border-radius: .2rem;
  background-color: var(--white_yellow);
  margin-bottom: .5rem;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 1rem;
}
#box button {
  width: 5rem;
  height: 3rem;
  margin: auto;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
#content {
  position: relative;
  background-color: var(--blue);
  width: 60%;
  height: 60%;
  justify-content: space-between;
}
#question {
}
#answer {
}
